header {
  display: flex;
  min-height: 15vh;
  justify-content: center;
  align-items: center;
}

.screen-header {
  margin-top: 25px;
  display: flex;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.txtb {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h3 {
  margin: 10px 0;
}

.task {
  width: 100%;
  background: #81589f9d;
  color: white;
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i {
  float: right;
  margin-left: 20px;
  cursor: pointer;
}
.today {
  color: #371f54;
  font-size: 23px;
  color: black;
  margin-left: 3%;
}

.comp .task {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* progress bar */

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #ffc312, #ffc312);
  box-shadow: 0 3px 3px -5px #ffc312, 0 2px 5px #ffc312;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.row {
  display: flex;
}

.col {
  flex: 1;
  float: left;
  /* text-align: center; */
  margin: 3%;
  box-sizing: content-box;
  padding: 4px;
  border: 10px solid white;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: white;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}

table.customTable {
  width: 45%;
  background-color: #82589f;
  border-width: 10px;
  border-color: #82589f;
  border-style: solid;
  /* color: #000000; */
  color: white;
  border-radius: 15px;
}
table.customTable thead {
  background-color: #82589f;
}
table.customTable th {
  border-width: 2px;
  border-color: #82589f;
  /* border-style: solid; */
  padding: 5px;
  border-radius: 10px;
}

table.customTable td {
  /* border-width: 2px;
  border-color: white;
  border-style: solid; */
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

/* Up table */
table.UpTable {
  width: 45%;
  background-color: white;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  /* color: #000000; */
  border-radius: 15px;
}
table.UpTable thead {
  background-color: white;
}
table.UpTable th {
  border-width: 2px;
  border-color: #f0eef0;
  /* border-style: solid; */
  padding: 5px;
  border-radius: 10px;
}

table.UpTable td {
  /* border-width: 2px;
  border-color: white;
  border-style: solid; */
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

#table-text {
  color: #371f54;
  text-align: left;
}
#table-text-up {
  color: #371f54;
  text-align: left;
}
#col-text {
  margin-left: 3%;
  color: #371f54;
}

.body {
  background-color: #f0eef0;
}
.row-table {
  display: flex;
}
