*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}


header{
    display: flex;
    min-height: 15vh;
    justify-content: center;
    align-items: center;    
}

.screen-header {
  margin-top: 25px;
  display: flex;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  color: #371F54;
  border: none;
  background: none;
  outline: none;
}

.container{
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.txtb{
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

.content{
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 90%;
  width: 36%;
}

h3{
  margin: 10px 0;
}

.task{
  width: 100%;
  background: #81589f9d;
  color: white;
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

  .comp .task{
    background: rgba(0,0,0,.5) !important;
    color: #fff !important;;
  }