.body {
 
    font: 14px 'Nunito', sans-serif;
  }
  .today{
    font-size: 22px;
    text-align: center;
    color: black;
  }

  
  .zero{
  
      top: 8px;
      right: 0;
      font-size: 14px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      margin-right: -10px;
      cursor: pointer;
      color: #9da1af;
      -webkit-transition: color 0.15s linear;
      transition: color 0.15s linear;
  }
  
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  .btn_wrapper {
    @extend .group;
    max-width: 250px;
    margin: 0 auto;
  }
  
  
  button {
  
        font-size: 16px;
        color: #ffffff;
        background: #fff0;
        padding: 10px 20px;
        transition: all 0.3s;
        outline: none;
        border-color: #FFF;
        border-radius: 35px;
        margin-left: 5px;
      margin-right: 5px;
    }
  }
  button[disabled] {
    color: $c-gray !important;
    background: #fff !important;
  }
  .output {
    padding-bottom: 10px;
  
    button {
      color: $c-blue;
      &:hover,
      &:focus {
        transform: scale(1.5);
        background: transparent;
      }
    }
  }
  
  
  #start {
      background: #6200ff;
      border: none;
      border-radius: 20px;
      padding-left: 35px;
      padding-right: 35px;
  }
  
  #start:hover {
  
  
  box-shadow: 0 0 25px 0 #452579;
      color: white;
  }
  
  #inc{
    border: none;
      font-size: 40px;
      border-radius: 20px;
      padding-left: 35px;
      padding-right: 35px;
  }
  #dec{
  
      border: none;
      font-size: 40px;
      border-radius: 20px;
      padding-left: 35px;
      padding-right: 35px;
  }
  
  #reset {
  
    color: $c-red;
    &:hover,
    &:focus {
      background-color: $c-red;
      color: #fff;
      border-radius: 20px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  
  .pomodoro {
      text-align: center;
  }
  
  p {
      margin: 15px 0 10px;
      font-size: 46px;
      font-weight: 700;
      color: #FFF;
     
  }
  
  
  .fa-ban:before {
      content: "\f05e";
      color: #8c8c8c;
      font-size: 29px;
  }
  
  
  .logo {
      text-align: center;
      margin-top: 30px;
      margin-bottom: -50px;
  }
  
  
  .h4, h4 {
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin-top: 40px;
  }
  
  a:focus, a:hover {
      color: #fbfbfb;
    text-decoration: none;
  }
  
  .fa-remove:before, .fa-close:before, .fa-times:before {
      content: "\f00d";
      color: #000;
  }
  
  
  
  @media (max-width: 768px){
  .col-xs-offset-3 {
      margin-left: 10%;
  }
  }
  
  @media (max-width: 768px){
  .col-xs-6 {
    width: 80%;
  }
  }
  @viewport {
     width: device-width; 
     zoom: 1; 
  }
  
  @media (min-width: 992px){
  .container {
      width: 100%;
      max-width: 1150PX;
  }
  }
  
  @media (max-width: 680px){
  svg {
      width: 70px;
      height: 70px;
  
  }
  }
  
  .todo-list input[type="checkbox"] {
      opacity: 0;
  }
  
  