{% extends 'sidebar.html' %}

<!-- 시작 부분 삭제

	<!DOCTYPE html>

<html>
<head>
<title>Sukeesh</title>
<meta charset='utf-8' />

시작 부분 삭제 -->

{% block content %}
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

<script>
	$(document).ready(function () {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month'
			},
			defaultDate: '2021-01-01',
			editable: true,
			eventLimit: true,
			events: {
				url: 'data',
				error: function () {
					$('#script-warning').show();
				}
			},
			loading: function (bool) {
				$('#loading').toggle(bool);
			}
		});
		var x = document.getElementsByClassName("fc-today-button");

		Array.prototype.forEach.call(x, function (y) {
			// Do stuff here
			console.log(y);
			y.style.display = "none";
		});

		var y = document.getElementsByClassName("fc-month-button");

		Array.prototype.forEach.call(y, function (z) {
			// Do stuff here
			console.log(z);
			z.style.display = "none";
		});
	});

	function onlyImportant() {
		var x = document.getElementsByClassName("fc-event");

		Array.prototype.forEach.call(x, function (y) {
			// Do stuff here
			console.log(y);
			y.style.display = "none";
		});

		var z = document.getElementsByClassName("fc-event important");
		Array.prototype.forEach.call(z, function (a) {
			// Do stuff here
			console.log(a);
			a.style.display = "block";
		});


		// console.log(x);
		// x.map((e) => {
		// 	console.log(e);
		// 	e.style.display = "none";
		// });
	}

	function viewAll() {
		var x = document.getElementsByClassName("fc-event");

		Array.prototype.forEach.call(x, function (y) {
			// Do stuff here
			console.log(y);
			y.style.display = "block";
		});
	}
</script>

<style>
	body {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 900px;
		margin: 10px auto;
		padding: 70px 10px;
	}
</style>

<link href="{{ url_for('static', filename='sukeesh.css') }}" rel='stylesheet' />

</head>

<body>
	<div id="Yo">
		<font color="#2bc493">

			<div style="width: 100%;overflow: hidden; margin-top: 1px; margin-left: 2px;">
				<font size="20" color="#f8f8f8"></font>
				<div id="rightPanel" style="margin-left: 100px; margin-top: 0px;">

					<div id='loading'>loading...</div>

					<div id='calendar'>
						<div style="margin-left: auto; margin-right: auto;">
							<button id="important-button" onclick="onlyImportant()"
								style="position: absolute; box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%); top: 81px; margin-left: 90px; padding: 8px 12px; border-radius: 4px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: linear-gradient(to bottom, #fff, #e6e6e6);">ONLY
								IMPORTANT</button>

							<button id="important-button" onclick="viewAll()"
								style="position: absolute; box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%); top: 81px; margin-left: 250px; padding: 8px 12px; border-radius: 4px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: linear-gradient(to bottom, #fff, #e6e6e6);">VIEW
								ALL</button>
						</div>
					</div>
				</div>

			</div>

		</font>
	</div>
</body>

{% endblock %}

<!-- 끝부분 삭제

</html>

끝부분 삭제 -->