{% extends 'sidebar.html' %} {% block content %}

<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}" />
<body class=body>
  <!-- 랜덤메세지 -->
  <!-- <hr width="95%" color="gray" /> -->
  <div class="today"></div>
  <!-- <hr width="95%" color="gray" /> -->
  <h1 style="margin-left: 5%" ;>Dash Board</h1>
  <p></p>

  <div class="row">
    <!-- 오늘일정 -->
    <div class="col">
      <h3 id="col-text">Today's TodoList</h3>
      {% for im in today_list %}
      <li id="col-text">{{im['title']}}</li>
      {% endfor %}
    </div>

    <!-- 진행롤 -->
    <div class="col">
      <h3 id="col-text">Today's Progress</h3>
      <br />
      <div class="progress" id="col-text">
        <div class="progress-done" data-done="50">50%</div>
      </div>
    </div>
  </div>
  <br />
  <!-- {% for progress in progress %}
    <li>{{progress['done']}}</li>
    <li>{{progress['doing']}}</li>
    <li>{{progress['progress']}}</li>

    {% endfor %}  -->

  <!-- <br /> -->
  <div class="row-table">
  <!-- 중요일정 -->
  <table
    colspan="3"
    class="customTable"
    style="float: left; padding: 4px; margin: 2.53%;"
  >
    <thead>
      <tr>
        <th colspan="3">
          <h3 id="table-text">⭐ Important Todo ⭐</h3>
          </th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Content</strong></td>
        <td colspan="2"><strong>Due_date</strong></td>
      </tr>
      {% for im in important_list %}
      <tr>
        <td>{{im['title']}}</td>
        <td>{{im['start']}} ~ {{im['end']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <!-- upcoming todo -->
  <table class="UpTable" style="float: left; padding: 4px; margin: 2.53%;">
    <thead>
      <tr>
        <th colspan="3"><h3 id="table-text-up" >🚨 Upcoming Todo 🚨</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Content</strong></td>
        <td colspan="2"><strong>Due_date</strong></td>
      </tr>
      {% for im in upcoming_list %}
      <tr>
        <td>{{im['title']}}</td>
        <td>{{im['start']}} ~ {{im['end']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
<!-- <script type="text/javascript" src="./static/dash.js"></script> -->
<script src="{{ url_for('static', filename='dash.js') }}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}
