<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hi {{ name }}</h1>
    <a href='/auth/logout'>Log Out</a>
    <form action="/dashboard" method="POST" onsubmit="handleSubmit()">
        <input type="text" name="content" placeholder="content is ...">
    </form>

    <script>
        function handleSubmit() {
            event.preventDefault();
            var content = event.target.content.value;
            const DASHURL = '/todo/1';
            const option = {
                method:'POST',
                body:JSON.stringify({
                    content:content,
                }),
                headers: {
                    'Content-Type':'application/json'
                }
            };

            fetch(DASHURL, option).then(function(type) {
                return type.json();
            }).then(function(result) {
                console.log(result);
            })
            
        }
    </script>
</body>
</html>