{% extends 'sidebar.html' %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/profile.css">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<script>
    setTitle();
    function setTitle(){document.title="Checkmate | Profile";}
</script>

<div class="form">
    <h2>My profile</h2>
    <form>
        <div>
            <label id="label_username">
                <span>username</span>
                <div class="profile_data" id="div_username"></div>
            </label>
        </div>

        <div style="margin-bottom: 50px;">
            <label id="label_email">
                <div class="div_email">
                    <span>EMAIL</span>
                    <div class="profile_data" id="original_email"></div>
                    <input type="button" class="button" id="edit_email_btn" value="change email" style="width: 260px; cursor : pointer;">
                </div>
                <div class="div_new_email">
                    <span id="new_email">NEW EMAIL</span>
                    <div class="profile_data" id="new_email">
                        <input type="text" class="inputbox" id="input_new_email">
                    </div>
                    <input
                        type="button"  class="button" id="save_email_btn" value="SAVE"
                        style="width: 100px; background: #f1c40f; color: darkblue; cursor: pointer;"
                        onclick="edit_email()">
                </div>
            </label>
        </div>
        
        <div>
            <label id="label_password">
                <input type="button"  class="button" id="change_password_btn" value="change password" style="width:260px; cursor: pointer;">
                    <div class="div_change_password">
                        
                        <span>current password</span>
                        <div class="profile_data">
                            <input type="password" class="inputbox" id="input_cur_password">
                        </div>

                        <span>new password</span>
                        <div class="profile_data"><input type="password" class="inputbox" id="input_new_password"></div>
                        <input
                            type="button" class="button" id="save_password_btn" value="SAVE"
                            style="width: 100px; background: #f1c40f; color: darkblue; cursor: pointer;"
                            onclick="change_password()">
                    </div>
            </label>
        </div>
        
    </form>
    <button>튜토리얼 닫기</button>

    <div class="modal">
    <div class="modal_content">
        <button id="tutor_close_btn">튜토리얼 닫기</button>
        <h2 style="padding-top: 40px; color:white;">Tutorial</h2>
        <img src="../static/login_images/tutorial.png" style="width: 1200px;vertical-align: middle;padding-top: 40px;padding-left: 80px;">
    </div>
    </div>

</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='profile.js') }}"></script>

{% endblock %}