<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<titles>Side Navigation Bar</title>
	<link rel="stylesheet" href="sidebar_styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div id="sidebar">
    <div class="wrapper">
        <div class="sidebar_content">
            <li><a href="#"><h2><i class="fas fa-user"></i>  Your Profile<h2></a></li>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="far fa-calendar-alt"></i>Calender</a></li>
                <li id="list_category"><a href="#"><i class="fas fa-plus"></i>Group</a></li>
                <li id="list"><a href="#">엘리스_group</a></li>
                <li id="list"><a href="#">스터디_group</a></li>
                <li id="list_category"><a href="#"><i class="fas fa-plus"></i>Personal</a></li>
                <li id="list"><a href="#">Personal 1</a></li>
                <li id ="archive"><a href="#"><i class="fas fa-archive"></i>완료 저장소</a></li>
            </ul> 
        </div>
    </div>
</div>

</body>
</html>