{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <style>
      .flashes {
        color: red;
      }
    </style>
    <link rel="shortcut icon" href={{url_for('static', filename='favicon.ico')}} type="image/x-icon">
    <link rel="icon" href={{url_for('static', filename='favicon.ico')}} type="image/x-icon">
    <title>signup</title>
{% endblock %}

{% block content %}
    <div cont>
        <div class="cont s-signup">
            <div class="sub-cont">
                <div class="img" style="background-color:#dfc3ed;">
                <!-- <style>
                    .img {
                        background-image: url( "../static/login_images/bg.jpg");
                    }
                </style> -->
                    <div class="img-text m-in">
                        <h2>If you already has an account, just sign in.</h2>
                        <!-- <p>If you already has an account, just sign in. We've missed you!</p> -->
                    </div>
                    <div class="img-btn" onclick="location.href='/auth/login'">
                        <span class="m-in">Sign In</span>
                    </div>
                </div>
                <div class="form sign-up" style="padding-top: 50px";>
                    <form action="/auth/signup" method="POST">
                        <h2>Sign Up</h2>
                        {{ form.hidden_tag() }}
                        <label>
                            <span>{{ wtf.form_field(form.username) }}</span>
                        </label>
                        <label>
                            <span>{{ wtf.form_field(form.email) }}</span>
                        </label>
                        <label>
                            <span>{{ wtf.form_field(form.password) }}</span>
                        </label>
                        <button class="submit">Sign Up Now</button>
                    </form>

                    {% with errors = get_flashed_messages(category_filter=["auth_error"]) %}
                        {% if errors %}
                            {% for msg in errors%}
                            <div class="alert alert-danger alert-dismissible show" role="alert" style="text-align: center;">
                                <span>{{ msg }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 50px; padding-bottom: 15px;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            
                <!-- <div class="social-media">
                    <ul>
                    <li><img src="../static/login_images/facebook.png"></li>
                    <li><img src="../static/login_images/twitter.png"></li>
                    <li><img src="../static/login_images/linkedin.png"></li>
                    <li><img src="../static/login_images/instagram.png"></li>
                    </ul>
                </div> -->
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
