{% extends 'sidebar.html' %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> -->
    {% block header %}
    <title>✍Todolist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='tasks.css') }}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    {% endblock %}
  <!-- </head>
  <body> -->
    {% block content %}
    <div>
      <header class="screen-header">
        <a href="">
          <h1 class="screen-header__title">Personal_TODO</h1>
        </a>
    </header>
    <div class="container">
      <!-- <div class="today"></div> -->
      <input type="text" class="txtb" placeholder="➕ Add a task">
      
      <div class="notcomp">
        <h3>To do</h3>
      </div>

      <div class="comp">
        <h3>Done</h3>
      </div>
    </div>

    
</div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>   
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='data.js') }}"></script>    
    <script src="{{ url_for('static', filename='tasks.js') }}"></script>
    {% endblock %}
  </body>
</html>
