{% extends 'sidebar.html' %}

<!-- 시작 부분 삭제
<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 시작 부분 삭제 -->

 {% block header %}

    <link rel="stylesheet" href="../static/styles.css" />
    
    <title>✍️Todost </title>

    <!-- todo list -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57635392-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-57635392-5');
    </script>
    <title>Todost ✍️</title>
    <meta name="viewport" content="height=device-height, initial-scale=1, user-scalable=no">
    <meta name="description"
        content="Todost - Beautiful Todo list to uses 🍪 to track your tasks!" />
    <link rel="shortcut icon" href="todost.png">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <!-- Bootstrap 5.0-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<body class="body">
        
    <!-- 사이드바 영역 삭제

        <div id="sidebar">
            <h2>SIDEBAR</h2>
        </div>
    
    사이드바 영역 삭제-->
    

    <!-- 개인 todo -->
    <div class="container">
        <div class="today"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
                <div class="add-control">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="✍️ Add item..." />
                        <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i>
                    </div>
                </div>
                <p class="err text-danger text-center hidden"><i class="fa fa-warning"></i> Oops! Please, enter name
                    item</p>
                <p class="no-items text-muted text-center hidden"><i class="fa fa-ban"></i></p>
                <ul class="todo-list">
                </ul>
            </div>
        </div>
    </div>


	<div id="footer">
		<div class="footer_contents">[공통]FOOTER 영역</div>
	</div>

    <!-- JavaScript -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../static/todo_personal.js"></script>
</body>
{% endblock %}

<!-- 끝 부분 삭제

</html>

 끝 부분 삭제 -->